<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <header class="topheader">
    <%- include('../partials/header'); %>
  </header>
  <img class="hero-banner" src="assets/herobanner.jpeg" alt="hero-image">
  <h2 class="subtitle">Boutique de Orquideas. <br>Somos una tienda dedicada a cultivar felicidad.</h2>
  <div id="carrito" class="cart-container"></div>
  <br>
  <br>
</body>
<footer>
  <%- include('../partials/footer'); %>
</footer>
<script src="scripts/cart.js"></script>

</html>