<!DOCTYPE html>
<html lang="en">
<head>
  <script src="scripts/validacion-front.js"></script>
  <%- include('../partials/head-for-register-login'); %>
</head>
<body>
  <button class="boton-home" onclick="window.location.href='/'"> Volver a INICIO</button>
  <form action="/login" method="post"onsubmit="checkForm(this); return false;" encType="application/x-www-form-urlencoded" id="form">
    <div class="form">
      <h1>Ingresa</h1>
      <div class="grupo">
        <input type="email" name="email" id="email" required> <span class="barra"></span>
        <label>Email</label>
      </div>
      <div class="grupo">
        <input type="password" name="password" id="password" required> <span class="barra"></span>
        <label>Password</label>
      </div>
      <button type="submit"> Ingresar</button>
    </div>
  <button type="submit"onclick="window.location.href='registro'">Registrarse</button>
  <button type="submit">Olvidé mi password</button>
</div>
  </form>
</body>
</html>