<div>
  <img src="assets/Logo Flor Elegante Rosa.png" alt="es el logo" height="150" width="150">
  <p>Copyrights 2022 </p>
</div>
<div class="footer-data">
  <span class="icon-home info"> Rivera 2453, Montevideo</span>
  <span class="icon-phone info">095058076</span>
</div>