<nav class="topnav">
  <div>
    <a href="#" class="logo">
      <img src="assets/Logo Flor Elegante Rosa.png" alt="logo" onclick="window.location.href='/'">
    </a>
  </div>
  <ul class="menu">
    <li> <span class="icon-search"> BUSCAR</span><a href="#busqueda"></a> </li>
    <li> <a href="#carrito"><span class="icon-basket" onclick="window.location.href='carrito'"></span></a> </li>
  </ul>
</nav>